Repository joshcummingsdesign/tadas: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

.lintstagedrc.json:

{
  "**/*.{js,jsx,json,yml,md}": "prettier --write",
  "**/*.php": [
    "./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php",
    "./vendor/bin/phpcs --standard=./phpcs.xml"
  ]
}

Add release information to readme
  README.md
Due: prettier --write

Add Tada and TadaList CRUD
  resources/js/Components/Tadas/Tada.jsx
  resources/js/Components/Tadas/TadaListMain.jsx
  routes/tadas.php
  src/Domain/Tadas/Actions/CreateTadaAction.php
  src/Domain/Tadas/Actions/CreateTadaListAction.php
  src/Domain/Tadas/Actions/UpdateTadaAction.php
  src/Domain/Tadas/Actions/UpdateTadaListAction.php
  src/Domain/Tadas/Controllers/TadaListsController.php
  src/Domain/Tadas/Controllers/TadasController.php
  src/Domain/Tadas/Requests/UpdateTadaRequest.php
Due: prettier --write, ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Add tada data transfer objects
  resources/js/Components/AddButton.jsx
  resources/js/Components/Tadas/TadaListMain.jsx
  resources/js/Pages/Tadas/TadaList.jsx
  routes/tadas.php
  src/Domain/Tadas/Actions/CreateTadaAction.php
  src/Domain/Tadas/Actions/CreateTadaListAction.php
  src/Domain/Tadas/Actions/DeleteTadaAction.php
  src/Domain/Tadas/Actions/DeleteTadaListAction.php
  src/Domain/Tadas/Actions/UpdateTadaAction.php
  src/Domain/Tadas/Actions/UpdateTadaListAction.php
  src/Domain/Tadas/Controllers/TadaListsController.php
  src/Domain/Tadas/Controllers/TadasController.php
  src/Domain/Tadas/DataTransferObjects/StoreTadaData.php
  src/Domain/Tadas/DataTransferObjects/StoreTadaListData.php
  src/Domain/Tadas/DataTransferObjects/UpdateTadaData.php
  src/Domain/Tadas/Requests/StoreTadaRequest.php
Due: prettier --write, ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Code cleanup
  src/Domain/Tadas/Controllers/TadaListsController.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Fix tests
  .env.testing
  .lando.yml
  bootstrap/app.php
  composer.json
  composer.lock
  config/app.php
  config/auth.php
  config/broadcasting.php
  config/cache.php
  config/cors.php
  config/database.php
  config/filesystems.php
  config/hashing.php
  config/logging.php
  config/mail.php
  config/queue.php
  config/sanctum.php
  config/services.php
  config/session.php
  config/view.php
  database/factories/UserFactory.php
  database/seeders/DatabaseSeeder.php
  database/seeders/UserSeeder.php
  lang/en/auth.php
  lang/en/pagination.php
  lang/en/passwords.php
  lang/en/validation.php
  src/App/Application.php
  src/App/ServiceProviders/AppServiceProvider.php
  src/Support/.gitkeep
  tests/CreatesApplication.php
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/Auth/EmailVerificationTest.php
  tests/Feature/Auth/PasswordConfirmationTest.php
  tests/Feature/Auth/PasswordResetTest.php
  tests/Feature/Auth/RegistrationTest.php
  tests/Feature/ExampleTest.php
  tests/TestCase.php
  tests/Unit/ExampleTest.php
Due: prettier --write, ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Remove unused files
  .env.testing
Due: none

Add script to generate env files
  .gitignore
  README.md
  scripts/generate.sh
Due: prettier --write

Add error handling
  package-lock.json
  package.json
  resources/js/Components/Error/ErrorSnackbar.jsx
  resources/js/Components/Error/FormErrors.jsx
  resources/js/Layouts/Auth.jsx
  resources/js/Layouts/Base.jsx
  resources/js/Layouts/Tadas.jsx
  resources/js/Pages/Tadas/TadaList.jsx
  resources/js/Pages/Tadas/TadaLists.jsx
  src/App/Exceptions/Handler.php
  src/App/Exceptions/UnprocessableEntityException.php
  src/Domain/Tadas/Actions/CreateTadaAction.php
  src/Domain/Tadas/Actions/CreateTadaListAction.php
  src/Domain/Tadas/Actions/DeleteTadaAction.php
  src/Domain/Tadas/Actions/DeleteTadaListAction.php
  src/Domain/Tadas/Actions/UpdateTadaAction.php
  src/Domain/Tadas/Actions/UpdateTadaListAction.php
  src/Domain/Tadas/Controllers/TadaListsController.php
  src/Domain/Tadas/Controllers/TadasController.php
Due: prettier --write, ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Fix tests
  tests/Feature/Auth/AuthenticationTest.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Fix update actions
  src/Domain/Tadas/Actions/UpdateTadaAction.php
  src/Domain/Tadas/Actions/UpdateTadaListAction.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Code cleanup
  src/App/Http/Middleware/Authenticate.php
  src/App/Http/Middleware/RedirectIfAuthenticated.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Make current tada list unique
  database/migrations/2022_07_13_200155_make_current_tada_list_unique.php
  database/migrations/2022_07_13_200312_make_current_tada_list_unique.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Persist dark mode, cleanup components
  resources/js/Components/Form/BareTextInput.jsx
  resources/js/Components/Nav.jsx
  resources/js/Components/Tadas/Tada.jsx
  resources/js/Components/Tadas/TadaListMain.jsx
  resources/js/Layouts/Base.jsx
Due: prettier --write

Refactor UserFactory
  .gitignore
  .lando.yml
  database/factories/UserFactory.php
  database/seeders/DatabaseSeeder.php
  database/seeders/UserSeeder.php
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/Auth/EmailVerificationTest.php
  tests/Feature/Auth/PasswordConfirmationTest.php
  tests/Feature/Auth/PasswordResetTest.php
  tests/Feature/ExampleTest.php
  tests/Unit/Domain/User/Actions/GetUserActionTest.php
Due: prettier --write, ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Add tada list action tests
  database/factories/StoreTadaListDataFactory.php
  database/factories/TadaListFactory.php
  database/factories/UserFactory.php
  tests/Feature/Tadas/CreateTadaListActionTest.php
  tests/Feature/Tadas/DeleteTadaListActionTest.php
  tests/Feature/Tadas/GetTadaListActionTest.php
  tests/Feature/Tadas/GetTadaListsActionTest.php
  tests/Feature/Tadas/UpdateTadaListActionTest.php
  tests/Feature/User/GetUserActionTest.php
  tests/Unit/.gitkeep
  tests/Unit/Domain/User/Actions/GetUserActionTest.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Update factory comments
  database/factories/StoreTadaListDataFactory.php
  database/factories/TadaListFactory.php
  database/factories/UserFactory.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Add delete tada list exception case
  tests/Feature/Tadas/DeleteTadaListActionTest.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Add tada action tests
  database/factories/.gitkeep
  scripts/unreleased.sh
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/Auth/EmailVerificationTest.php
  tests/Feature/Auth/PasswordConfirmationTest.php
  tests/Feature/Auth/PasswordResetTest.php
  tests/Feature/Tadas/Actions/CreateTadaActionTest.php
  tests/Feature/Tadas/Actions/CreateTadaListActionTest.php
  tests/Feature/Tadas/Actions/DeleteTadaActionTest.php
  tests/Feature/Tadas/Actions/DeleteTadaListActionTest.php
  tests/Feature/Tadas/Actions/GetCurrentTadaListActionTest.php
  tests/Feature/Tadas/Actions/GetTadaListActionTest.php
  tests/Feature/Tadas/Actions/GetTadaListsActionTest.php
  tests/Feature/Tadas/Actions/GetTadasActionTest.php
  tests/Feature/Tadas/Actions/SetCurrentTadaListActionTest.php
  tests/Feature/Tadas/Actions/UpdateTadaActionTest.php
  tests/Feature/Tadas/Actions/UpdateTadaListActionTest.php
  tests/Feature/Tadas/Factories/CurrentTadaListFactory.php
  tests/Feature/Tadas/Factories/StoreTadaDataFactory.php
  tests/Feature/Tadas/Factories/StoreTadaListDataFactory.php
  tests/Feature/Tadas/Factories/TadaFactory.php
  tests/Feature/Tadas/Factories/TadaListFactory.php
  tests/Feature/Tadas/Factories/UpdateTadaDataFactory.php
  tests/Feature/User/Actions/GetUserActionTest.php
  tests/Feature/User/Factories/UserFactory.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Add tada list tests
  src/Domain/Tadas/Controllers/TadaListsController.php
  tests/Feature/Tadas/TadaListsTest.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Add tada tests
  tests/Feature/Tadas/TadaListsTest.php
  tests/Feature/Tadas/TadasTest.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Test cleanup
  tests/Feature/Tadas/TadaListsTest.php
  tests/Feature/Tadas/TadasTest.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Clean up test names
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/Auth/EmailVerificationTest.php
  tests/Feature/Auth/PasswordConfirmationTest.php
  tests/Feature/Auth/PasswordResetTest.php
  tests/Feature/Auth/RegistrationTest.php
  tests/Feature/Tadas/TadaListsTest.php
  tests/Feature/Tadas/TadasTest.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Update user factory
  tests/Feature/User/Factories/UserFactory.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Update idehelpers script
  .gitignore
  README.md
  package.json
  scripts/idehelpers.sh
  src/Domain/Tadas/Models/CurrentTadaList.php
  src/Domain/Tadas/Models/Tada.php
  src/Domain/Tadas/Models/TadaList.php
  src/Domain/User/Models/User.php
Due: prettier --write, ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Code cleanup
  package.json
  scripts/test.sh
  src/Domain/Tadas/Controllers/TadaListsController.php
  src/Domain/Tadas/Controllers/TadasController.php
  src/Domain/User/Actions/GetUserAction.php
  tests/Feature/User/Actions/GetUserActionTest.php
Due: prettier --write, ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Improve styles and focus states
  resources/js/Components/AddButton.jsx
  resources/js/Components/Form/BareTextInput.jsx
  resources/js/Components/Tadas/Tada.jsx
  resources/js/Components/Tadas/TadaListItem.jsx
  resources/js/Components/Tadas/TadaListItems.jsx
  resources/js/Components/Tadas/TadaListMain.jsx
  resources/js/Components/Tadas/TadaListSidebar.jsx
  resources/js/Layouts/Base.jsx
  resources/js/Layouts/Tadas.jsx
  resources/js/Pages/Tadas/TadaList.jsx
  resources/js/Pages/Tadas/TadaLists.jsx
  resources/js/strings.js
  resources/js/theme.js
Due: prettier --write

Code cleanup
  resources/js/Components/Tadas/Tada.jsx
  resources/js/Components/Tadas/TadaListItem.jsx
  resources/js/Components/Tadas/TadaListItems.jsx
Due: prettier --write

Moar speed
  resources/js/Components/Tadas/TadaListMain.jsx
Due: prettier --write

Release v1.0.1
  resources/js/strings.js
Due: prettier --write

Only auto-add item if there are none
  resources/js/Components/Tadas/TadaListMain.jsx
Due: prettier --write

Add no lists found view
  resources/js/Components/AddButton.jsx
  resources/js/Components/Buttons/AddButton.jsx
  resources/js/Components/Buttons/ButtonDotted.jsx
  resources/js/Components/Panel.jsx
  resources/js/Components/Tadas/NoTadasFound.jsx
  resources/js/Components/Tadas/TadaListItems.jsx
  resources/js/Components/Tadas/TadaListMain.jsx
  resources/js/Layouts/Tadas.jsx
Due: prettier --write

Release v1.2.0
  resources/js/Components/Buttons/ButtonDotted.jsx
  resources/js/Components/Panel.jsx
  resources/js/Components/Tadas/NoTadasFound.jsx
Due: prettier --write

add dnd
  package-lock.json
  package.json
  resources/js/Components/Tadas/Tada.jsx
  resources/js/Components/Tadas/TadaListMain.jsx
Due: prettier --write

fix dnd margin bug
  resources/js/Components/Tadas/Tada.jsx
  resources/js/Components/Tadas/TadaListMain.jsx
Due: prettier --write

add batch update tada endpoint
  database/migrations/2022_07_15_084626_add_index_to_tada.php
  routes/tadas.php
  src/Domain/Tadas/Actions/BatchUpdateTadasAction.php
  src/Domain/Tadas/Controllers/TadasController.php
  src/Domain/Tadas/DataTransferObjects/BatchUpdateTadasData.php
  src/Domain/Tadas/Models/Tada.php
  src/Domain/Tadas/Requests/BatchUpdateTadaRequest.php
  tests/Feature/Tadas/Actions/BatchUpdateTadasActionTest.php
  tests/Feature/Tadas/Factories/BatchUpdateTadasDataFactory.php
  tests/Feature/Tadas/TadasTest.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

persist dnd order
  resources/js/Components/Tadas/TadaListMain.jsx
  src/Domain/Tadas/Actions/GetTadasAction.php
  src/Domain/Tadas/Controllers/TadasController.php
  src/Domain/Tadas/Requests/BatchUpdateTadaRequest.php
  tests/Feature/Tadas/Actions/GetTadasActionTest.php
  tests/Feature/Tadas/Factories/TadaFactory.php
  tests/Feature/Tadas/TadasTest.php
Due: prettier --write, ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Release v1.3.0
  src/Domain/Tadas/Actions/BatchUpdateTadasAction.php
  src/Domain/Tadas/Controllers/TadasController.php
  src/Domain/Tadas/DataTransferObjects/BatchUpdateTadasData.php
  src/Domain/Tadas/Requests/BatchUpdateTadaRequest.php
  tests/Feature/Tadas/Factories/BatchUpdateTadasDataFactory.php
Due: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

Fix drag and drop bug
  resources/js/Components/Panel.jsx
  resources/js/Components/Tadas/Tada.jsx
  resources/js/Components/Tadas/TadaListMain.jsx
  src/Domain/Tadas/Actions/DeleteTadaListAction.php
  src/Domain/Tadas/Models/Tada.php
  tests/Feature/Tadas/Actions/DeleteTadaListActionTest.php
Due: prettier --write, ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php, ./vendor/bin/phpcs --standard=./phpcs.xml

fix: fix bug that prevents titles from being saved
  resources/js/Components/Tadas/Tada.jsx
  resources/js/Components/Tadas/TadaListMain.jsx
Due: prettier --write
